# Ignore Virtual Environment
.venv/
venv/
myenv/

# Ignore Python Cache
**/__pycache__/
__pycache__/
*.py[cod]
*.pyc

# Ignore Django Migrations
*/migrations/
*/migrations/*.pyc

# Ignore Cloudinary Config (if any)
cloudinary.cfg

# Ignore Environment Variables
.env
