{% extends "partials/base.html" %}
{% load static %}
{% block content %}

    <div class="container mt-3">
        <div class="logo my-4">Followers</div>
        {% for follower in followers %}
            <div class="user-card d-flex align-items-center p-3 mb-3 rounded-3">
                <div class="user-avatar">
                <a style="color:#7D22CE" href="{% url "ProfileView" follower.profile.user %}"><img src="{{follower.profile.image.url}}" alt="User Picture" class="rounded-circle mx-3" width="75px" height="75px"></a>
                </div>
                <div class="user-info ms-3 mx-3">
                <a href="{% url "ProfileView" follower.profile.user %}" class="user-name fw-bold d-block"><h5>{{follower.profile.full_name}}</h5></a>
                <span class="user-username text-muted"><h6>@{{follower.profile.user.username}}</h6></span>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
   
{% endblock %}