{% extends "partials/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="search-results-card p-4 rounded-3">
      <h4 class="text-center fw-bold mb-4" style="color:#7D22CE">Search Results</h5>
  
      <!-- User Card - Start of Loop -->
      {% for user in users %} 
        <div class="user-card d-flex align-items-center p-3 mb-3 rounded-3">
          <div class="user-avatar">
            <a href="{% url "ProfileView" user %}"><img src="{{user.profile.image.url}}" alt="User Picture" class="rounded-circle" width="75px" height="75px"></a>
          </div>
          <div class="user-info ms-3 mx-3">
            <a style="color:#7D22CE" href="{% url "ProfileView" user %}" class="user-name fw-bold d-block"><h5>{{user.profile.full_name}}</h5></a>
            <span class="user-username text-muted">@{{user.username}}</span><br>
            <span>{{user.profile.bio|truncatechars:70}}</span>
          </div>
        </div>
      {% endfor %}
      <!-- User Card - Repeat as needed -->
    </div>
</div>
   
{% endblock %}